<!DOCTYPE html>
<html lang="zxx">
<head>
	<title>Hi-Yai料理小教室</title>
	<meta charset="UTF-8">
	<meta name="description" content="loans HTML Template">
	<meta name="keywords" content="loans, html">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<!-- Favicon -->
	<link href="static/img/favicon.ico" rel="shortcut icon"/>

	<!-- Google font -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&display=swap" rel="stylesheet">
 
	<!-- Stylesheets -->
	<link rel="stylesheet" href="static/css/bootstrap.min.css"/>
	<link rel="stylesheet" href="static/css/font-awesome.min.css"/>
	<link rel="stylesheet" href="static/css/owl.carousel.min.css"/>
	<link rel="stylesheet" href="static/css/flaticon.css"/>
	<link rel="stylesheet" href="static/css/slicknav.min.css"/>

	<!-- Main Stylesheets -->
	<link rel="stylesheet" href="static/css/style.css"/>


	<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
		<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->

</head>
<style>
	
	body {
	  background-image: url("static/img/back.jpg");
	  background-repeat: no-repeat;
      background-attachment: fixed;
      background-position: center;
      background-size: cover;
	}
	p{
		color:white;
	}
	</style>
<body>
	<!-- Page Preloder -->
	<div id="preloder">
		<div class="loader"></div>
	</div>

	<!-- Header Section -->
	<header class="header-section">
		<a href="index" class="site-logo">
			<img src="static/img/logo.png" alt="">
		</a>
		<nav class="header-nav">
			<ul class="main-menu">
				<li><a href="index" >Home</a></li>
				<li><a href="refrig">Refrig</a></li>
				<!-- <li><a href="#">Pages</a>
					<ul class="sub-menu">
						<li><a href="about-us.html">About Us</a></li>
						<li><a href="loans.html">Loans</a></li>
						<li><a href="elements.html">elements</a></li>
					</ul>
				</li> -->
				
				<li id=check_login><a href="login">Login</a></li>
				<li id=check_register><a href="register">Register</a></li>
				<li><a href="menu" class="active">Menu</a></li>
				<li id=check_logout><a href="logout">Logout</a></li>
				<li id=check_user><a href="index">{{user}}</a></li>
			</ul>
			<!-- <div class="header-right">
				<a href="#" class="hr-btn"><i class="flaticon-029-telephone-1"></i>Call us now! </a>
				<div class="hr-btn hr-btn-2">+45 332 65767 42</div>
			</div> -->
		</nav>
	</header>
	<!-- Header Section end -->

	<!-- Hero Section end -->
	<section class="hero-section">
		<div class="container">
			<div class="row">
				<div class="wrap">
					<div class="search">
						<form id="search_bar" action="search" method="POST">
							<input id="search" type="search" placeholder="Wanna eat something?" name="search" required value="">
							<button type="submit"><i class="fa fa-search"></i></button>
							<p>Suggestion:<a id="fried_rice" href="">炒飯</a> &nbsp;&nbsp;<a id="fried_noodle" href="">炒麵</a></p>
						</form>
					</div>
			</div>
		</div>
		<div class="fried rice">
			<table>
				<thead>
					<tr>
						<th colspan="2"><font color = "white"> The table header</font></th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>{{result}}</td>
						<td><font color = "white">with two columns</font></td>
					</tr>
				</tbody>
			</table>
		</div>
	</section>
	<section>
		<div class="container">
			<div class="row">
				<div class="wrap">
					<div class="search">
						<form id="random_form" action="random" method="POST">
							<input id="random_day" type="text" name="random_day">
							<label><font color = "white">天</font></label>
							<select name="num_of_meal">
								<option value="1">1</option>
								<option value="2">2</option>
								<option value="3">3</option>
							</select>
							<label><font color = "white">餐</font></label>
							<input type="submit" value="Submit">
						</form>
					</div>
			</div>
		</div>
	</section>
	<!-- Hero Section end -->
<br><br><br><br><br><br><br>
	<!-- Why Section end -->
	<section class="why-section spad">
		<div class="container">
			<div class="text-center mb-5 pb-4">
				<h2 align="left">Big News!</h2>
				<br><br>
				<h4 align="left"><a href = "">驚悚!竟然有人炒飯用果醬!?</a></h4>
				<p align="left">新聞內容</p>
				<h4 align="left"><a href = "">兩個鍋子炒飯更香?帶您深入了解何謂"鍋氣"</a></h4>
				<p align="left">新聞內容</p>
				<h4 align="left"><a href = "">700元的炒飯!?哪邊與眾不同?特派記者帶您了解</a></h4>
				<p align="left">新聞內容</p>
			</div>
							
		</div>
	</section>
	<!-- Why Section end -->


	


	<!-- Footer Section -->
	<footer class="footer-section">
		<div class="container">
			<a href="index" class="footer-logo">
				<img src="static/img/logo.png" alt="">
			</a>
			<div class="row">
				<div class="col-lg-3 col-sm-6">
					<div class="footer-widget">
						<h2>What we do</h2>
						<ul>
							<li><a href="#">Hi-Yai</a></li>
							<li><a href="#">Free classroom</a></li>
							<li><a href="#">Home improvement Hi-Yai</a></li>
							<li><a href="#">Innovative Finance ISA</a></li>
						</ul>
					</div>
				</div>
				<div class="col-lg-3 col-sm-6">
					<div class="footer-widget">
						<h2>About us</h2>
						<ul>
							<li><a href="#">About us</a></li>
							<li><a href="#">Our story</a></li>
							<li><a href="#">Meet the board</a></li>
							<li><a href="#">Meet the leadership team</a></li>
						</ul>
					</div>
				</div>
				<div class="col-lg-3 col-sm-6">
					<div class="footer-widget">
						<h2>Legal</h2>
						<ul>
							<li><a href="#">Privacy policy</a></li>
							<li><a href="#">Website terms</a></li>
							<li><a href="#">Cookie policy</a></li>
							<li><a href="#">Conflicts policy</a></li>
						</ul>
					</div>
				</div>
				<div class="col-lg-3 col-sm-6">
					<div class="footer-widget">
						<h2>Site Info</h2>
						<ul>
							<li><a href="#">Support</a></li>
							<li><a href="#">FAQ</a></li>
							<li><a href="#">Sitemap</a></li>
							<li><a href="#">Contact us</a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="copyright"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></div>
		</div>
	</footer>
	<!-- Footer Section end -->
	
	<!--====== Javascripts & Jquery ======-->
	<script src="./static/js/jquery-3.2.1.min.js"></script>
	<script src="./static/js/bootstrap.min.js"></script>
	<script src="./static/js/jquery.slicknav.min.js"></script>
	<script src="./static/js/owl.carousel.min.js"></script>
	<script src="./static/js/jquery-ui.min.js"></script>
	<script src="./static/js/main.js"></script>

	<script>
		$(document).ready(function (){
			var login='{{login_message}}'
			allCookies = document.cookie;
			if(login==1)
			{
				$("#check_login").hide();
				$("#check_register").hide();
				$("#check_logout").show();
				$("#check_user").show();
				
			}
			if(login==0)
			{
				$("#check_logout").hide();
				$("#check_user").hide();
			}
		}
		)
	</script>
	</body>
</html>
